<div class="fun">
    <ul id="cart">
        <button></button>
        <button class="straight">straight</button>
        <button></button>
        <button class="left">left</button>
        <button class="stop">stop</button>
        <button class="right">right</button>
        <button class="low">speed low</button>
        <button class="normal">speed normal</button>
        <button class="high">speed high</button>
    </ul>
    <div id="sliderspeed"></div>
</div>
<div class="temp">
    <p class="tag">Now, The temperature is 29^C...</p>
</div>
