<div class="light-ctrl">
  <h2>1 照明控制</h2>
  <ul id="cart">
    <button class="straight">Light 1</button>
    <button class="left">Light 2</button>
    <button class="back">Light 3</button>
    <button class="right">Light 4</button>
    <button class="light-1-on">On</button>
    <button class="light-2-on">On</button>
    <button class="light-3-on">On</button>
    <button class="light-4-on">On</button>
    <button class="light-1-off">Off</button>
    <button class="light-2-off">Off</button>
    <button class="light-3-off">Off</button>
    <button class="light-4-off">Off</button>
  </ul>
</div>

<div class="mjpg-img">
  <h2>2 视频监控</h2>
  <img style="-webkit-user-select: none" src="http://192.168.1.11:8080/?action=stream">
</div>
